<!DOCTYPE html>

<html>
<title>YOUR BIRTHDAY</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="style.css">
<link rel="icon" type="image/gif" href="https://image.freepik.com/free-icon/restaurant-cutlery-circular-symbol-of-a-spoon-and-a-fork-in-a-circle_318-61086.jpg" />
<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sansita One">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!--  </body>-->
<!--</html>-->

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Header -->

  <div class="mySlides w3-display-container w3-center">
    <img src="https://s26.postimg.org/vlynenxw9/img_0589-2.jpg" style="width:100%">
    <div class="w3-display-middle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <br><br><h1 class="w3-center w3-padding-64"><span class="w3-tag w3-wide w3-jumbo"><font face="Sansita One">HAPPY BIRTHDAY <br> 爸爸!</font></h1></span></h1>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://s26.postimg.org/gjmf3zdcp/img_6856.jpg" style="width:100%">
    <div class="w3-display-middle w3-container w3-text-white w3-padding-32 w3-hide-small w3-#7DE8D5">
      <br><br><h1 class="w3-teal w3-jumbo w3-wide"><font face="Sansita One">HAPPY BIRTHDAY <br> 爸爸!</font></h1>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://s26.postimg.org/urc3smq1l/img_6865.jpg" style="width:100%">
    <div class="w3-display-middle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <br><br><h1 class="w3-red w3-jumbo w3-wide"><font face="Sansita One">HAPPY BIRTHDAY <br> 爸爸!</font></h1>
    </div>
  </div>

<div class="button w3-center">
  <h4>
  <a href="submission.erb">
       <h1 style="display:inline"; float:"left"; align="center"> 
    <button class="w3-button w3-red w3-padding-xxlarge w3-xxlarge w3-margin-top w3-wide"><font face="Lato">CLICK TO REVEAL YOUR GIFTS!</font></button>
  </a>
  </h4>
  </div>
</header>
  <!-- Navbar (placed at the bottom of the header image) -->
  <!--<div class="w3-bar w3-light-grey w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-16px">-->
  <!--  <a href="#" class="w3-bar-item w3-button">Home</a>-->
  <!--  <a href="#portfolio" class="w3-bar-item w3-button">Portfolio</a>-->
  <!--  <a href="#contact" class="w3-bar-item w3-button">Contact</a>-->
  <!--</div>-->
<!--</header>-->

<!-- Navbar on small screens -->
<!--<div class="w3-center w3-light-grey w3-padding-16 w3-hide-large w3-hide-medium">-->
<!--<div class="w3-bar w3-light-grey">-->
<!--  <a href="#" class="w3-bar-item w3-button">Home</a>-->
<!--  <a href="#portfolio" class="w3-bar-item w3-button">Portfolio</a>-->
<!--  <a href="#contact" class="w3-bar-item w3-button">Contact</a>-->
<!--</div>-->
<!--</div>-->
<!-- Page content -->
<!--<div class="w3-content w3-padding-large w3-margin-top" id="portfolio">-->

<!--   Images (Portfolio) -->
<!--  <img src="/w3images/ocean.jpg" alt="Ocean" class="w3-image" width="1000" height="500">-->
<!--  <img src="/w3images/ocean2.jpg" alt="Ocean II" class="w3-image w3-margin-top" width="1000" height="500">-->
<!--  <img src="/w3images/falls2.jpg" alt="Falls" class="w3-image w3-margin-top" width="1000" height="500">-->
<!--  <img src="/w3images/mountainskies.jpg" alt="Skies" class="w3-image w3-margin-top" width="1000" height="500">-->
<!--  <img src="/w3images/mountains2.jpg" alt="Mountains" class="w3-image w3-margin-top" width="1000" height="500">-->

  <!-- Contact -->
<!--  <div class="w3-light-grey w3-padding-large w3-padding-32 w3-margin-top" id="contact">-->
<!--    <h3 class="w3-center">Contact</h3>-->
<!--    <hr>-->
<!--    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus.</p>-->

<!--    <form action="/action_page.php" target="_blank">-->
<!--      <div class="w3-section">-->
<!--        <label>Name</label>-->
<!--        <input class="w3-input w3-border" type="text" required name="Name">-->
<!--      </div>-->
<!--      <div class="w3-section">-->
<!--        <label>Email</label>-->
<!--        <input class="w3-input w3-border" type="text" required name="Email">-->
<!--      </div>-->
<!--      <div class="w3-section">-->
<!--        <label>Message</label>-->
<!--        <input class="w3-input w3-border" required name="Message">-->
<!--      </div>-->
<!--      <button type="submit" class="w3-button w3-block w3-dark-grey">Send</button>-->
<!--    </form><br>-->
<!--    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>-->

<!--  </div>-->
<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();
function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 4000);    
}
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>s

<!-- End page content -->
</div>

</body>
</html>







  </body>
</html>
